/*** global ***/
body {
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    line-height: 2em;
    font-size: 12px;
    padding: 0;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(to right, #8f358b, #321532);
    color: #fff;
    text-align: justify;
}

a {
    color: #fff;
}

a:hover {
    color: rgb(255, 227, 248);
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

textarea {
    width: 280px;
    height: 280px;

}

img {
    max-width: 200px;
    max-height: 140px;
}
/*** end global ***/

/*** general ***/
.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;
}

.flex-item-full {
    width: 100%;
    margin: 10px;
}

.flex-item-300 {
    width: 300px;
    margin: 10px;
}

.text-left {
    text-align: left;
}
/*** end general ***/

/*** small screens ***/
@media(max-width:820px) {
    header .container {
        width: 100%;
    }
}
/*** end small screens ***/

/*** banner ***/
.banner {
    height: 100vh;
    width: 100%;
    
    text-align: center;
    color: #fff;
}

.welcome {
    position: absolute;
    width: 100%;
    height: 100%;
}
/*** end banner ***/